# Maven / Java
target/
*.class
*.jar
*.war
*.iml
*.log
*.hprof

# Eclipse / IntelliJ / VSCode
.idea/
*.ipr
*.iws
*.vscode/
*.classpath
*.project

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
application-local.properties
application-prod.properties

# Cloud / Deployment files
*.zip
*.tar.gz

# Temporary files
*.tmp
